<div class="card bg-base-200 w-96 shadow-xl pt-5" >
  <% if user_signed_in? %>
    <p class="py-1 mx-2 text-right">
      <%= render 'bookmark_button', {spot: spot} %>
    </p>
  <% end %>
          <h1 class="text-3xl font-bold text-center">
            <%= spot.name %>
          </h1>
          <figure class="px-20 pt-20">
            <%= image_tag spot.spot_image_url,  class: "rounded-xl " %>
          </figure>
          <div class="card-body items-center text-center">
          <p class="py-1">
            <%= spot.human_attribute_enum(:category) %></br>
          </p>
          <p class="py-1">
            <%= j spot.address %>
          </p>
            <a href="<%= spot_path(spot) %>" class="btn btn-primary">
              詳細を見る
            </a>
          </div>
        </div>
