<h1 class="text-xl font-bold text-center py-6">
  一覧から探す
</h1>
<div class="col-lg-10 offset-lg-1">
  <%= search_form_for @q do |f| %>
    <%= f.label :name, "施設名から検索" %>
    <%= f.search_field :name_cont %>

    <%= f.label :category, "カテゴリ" %>
  　<%= f.radio_button :category_eq, '', {:checked => true} %>指定なし
    <%= f.radio_button :category_eq, 0 %>スタジオ
    <%= f.radio_button :category_eq, 1 %>カラオケ
    <%= f.radio_button :category_eq, 2 %>公共施設
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="row">
  <div class="col-12">
   <div class="flex flex-row flex-wrap px-5 py-10">
    <% if @spots.present? %>
      <% @spots.each do |spot| %>
        <div class="card bg-base-100 w-96 shadow-xl pt-5" >
          <h1 class="text-3xl font-bold text-center">
            <%= spot.name %>
          </h1>
          <figure class="px-20 pt-20">
            <%= image_tag spot.spot_image_url,  class: "rounded-xl " %>
          </figure>
          <div class="card-body items-center text-center">
          <p class="py-1">
            <%= j spot.category %>
          </p>
          <p class="py-1">
            <%= j spot.address %>
          </p>
            <a href="<%= spot_path(spot) %>" class="btn btn-primary">
              詳細を見る
            </a>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="mb-3">施設情報がありません</div>
    <% end %>
  </div>
</div>
        