<h2>gmap</h2>

<button type="button" class="get-current-position-btn">現在地を取得する</button>
<div class="map-container">
  <div id="map"></div>
</div>

<script>
  let map;

  function initMap(){
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: {lat: 35.658034, lng:139.701636},
      zoom: 16,
    };

    const map = new google.maps.Map(mapElement, mapOptions);
    
    <% @spots.each do |spot| %>
      var marker = new google.maps.Marker({
        position: {lat: <%= spot.latitude %>, lng: <%= spot.longitude %>},
        map: map,
        title: '<%= j spot.name %>',
      });

      marker.addListener("click", () => {
        infowindow.open({
          anchor: marker,
          map,
        });
      });

      infowindow = new google.maps.InfoWindow({
        content: `
        <div class="p-4 max-w-s rounded-lg shadow-md flex flex-col items-center">
          <h1><%= j spot.name %></h1>
          <p><%= j spot.phone_number %></p>
          <p><
        </div>`,
        ariaLabel: "Uluru",
      });
      <% end %>
  }  

  window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer>
</script>
