<div class="w-full flex justify-center">
  <button class="btn btn-active font-title mt-3">
    <%= link_to '地図検索へ戻る', spots_map_path %>
  </button>
</div>
<div class="flex items-center justify-center h-screen bg-100 w-full">
  <div class="w-full max-w-lg py-8 rounded-lg shadow-lg bg-base-200 text-center">
    <!-- ブックマークボタン、編集画面ボタン、削除ボタン -->
    <% if user_signed_in? %>
      <p class="py-1 text-right">
        <%= render 'bookmark_button', {spot: @spot} %>
        <%= render 'edit_button', {spot: @spot} %>
        <%= render 'destroy_button', {spot: @spot} %>
      </p>
    <% end %>
    <h1 class="text-3xl font-bold">
      <%= j @spot.name %>
    </h1>
    <p class="py-1">
      <%= j @spot.category %>
    </p>
    <p class="py-1">
      〒 <%= j @spot.postal_code %></br>
      <%= j @spot.address %>
    </p>
    <p class="py-1">
      TEL: <%= j @spot.phone_number %></br>
      <% if valid_url?(@spot.web_site) %>
        <%= link_to @spot.web_site, @spot.web_site, class: "link link-hover", target: "_blank", rel: "noopener" %>
      <% else %>
        <p class="text-error">webサイト不明</p>
      <% end %>
    </p>
    <p class="py-1">
      営業時間</br>
      <%= simple_format(@spot.opening_hours) %>
    </p>
    <p class="py-1">
      備考タグ</br>
      <%= j (@spot.tag_names) %>
    </p>
  </div>
</div>