<div class="w-full flex justify-center">
  <button class="btn btn-active font-title mt-3">
    <%= link_to '地図検索へ戻る', spots_map_path %>
  </button>
</div>
<div class="flex flex-wrap justify-center gap-10 pt-5 py-10 my-5">
  <div class="w-full max-w-lg py-8 rounded-lg shadow-lg bg-base-200 text-center">
    <!-- ブックマークボタン、編集画面ボタン、削除ボタン -->
    <% if user_signed_in? %>
      <p class="py-1 text-right">
        <%= render 'bookmark_button', {spot: @spot} %>
        <%= render 'share_button', {spot: @spot} %>
        <%= render 'edit_button', {spot: @spot} %>
        <%= render 'destroy_button', {spot: @spot} %>
      </p>
    <% end %>
    <h1 class="text-3xl font-bold">
      <%= j @spot.name %>
    </h1>
    <div class="flex justify-center">
      <%= image_tag @spot.spot_image_url, class: "card-img-top", width: "200", height:"100" %>
    </div>
    <p class="py-1">
      <%= @spot.human_attribute_enum(:category) %></br>
    </p>
    <p class="py-1">
      〒 <%= j @spot.postal_code %></br>
      <%= j @spot.address %>
    </p>
    <p class="py-1">
      TEL: <%= j @spot.phone_number %></br>
      <% if valid_url?(@spot.web_site) %>
        <%= link_to @spot.web_site, @spot.web_site, class: "link link-hover", target: "_blank", rel: "noopener" %>
      <% else %>
        <p class="text">webサイト不明</p>
      <% end %>
    </p>
    <p class="py-1">
      営業時間</br>
      <%= simple_format(@spot.opening_hours) %>
    </p>
    <p class="py-1">
      備考タグ</br>
      <%= j (@spot.tag_names) %>
    </p>
  </div>
</div>

<h2 class="text-lg font-bold my-2 text-center">
この施設の口コミ
</h2>

<div class="flex flex-col md:flex-row justify-center gap-10 pt-5 py-10 mx-5">
  <div class="bg-base-200 rounded-b-lg p-4 shadow-xl relative max-h-96 overflow-y-auto max-w-lg w-full">  <h3 class="text-lg font-bold my-2 text-center">口コミ一覧</h2>
  <% if @reviews.present? %>
    <% @reviews.each do |review| %>
      <div class="border-b border-gray-300 pb-3 mb-3 last:border-none">
        <%= render 'reviews/review', review: review %>
      </div>
    <% end %>
  <% else %>
    <div class="mb-3">施設情報がありません</div>
  <% end %>
</div>

<div class="flex flex-wrap justify-center gap-10 pt-5 py-10 mx-5">
  <div class="w-full max-w-lg py-8 rounded-lg shadow-lg bg-base-200 text-center">
    <% if user_signed_in? %>
      <%= render 'reviews/form', review: @review, spot: @spot %>
    <% end %>
  </div>
</div>