<div class="flex items-center justify-center h-screen bg-base-100 pt-8 pb-12 px-6 w-full">
  <div class="w-full max-w-lg p-4 rounded-lg shadow-lg bg-base-200">
  <h2 class="text-lg font-bold my-2 text-center">パスワードリセット</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-control mt-6">
      <button class="btn btn-active">パスワードリセットメール送信</button>
    </div>
  <% end %>
  </div>
</div>

  <%= render "devise/shared/links" %>
