<%= render "devise/shared/error_messages", resource: resource %>

<div class="flex items-center justify-center h-screen bg-background pt-8 pb-12 px-6 w-full">
  <div class="w-full max-w-lg p-4 rounded-lg shadow-lg bg-my_white">

    <h2 class="text-lg font-bold my-6 text-center">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">メールアドレス</span>
          </label>
          <%= f.email_field :email, placeholder: "メールアドレス", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">パスワード</span>
          </label>
          <%= f.password_field :password, placeholder: "パスワード", class: "input input-bordered", required: true %>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">ログイン</button>
        </div>
        <div class="text-center mt-4">
          <!-- 本リリースで実装予定 >
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
