<div class="card bg-base-200 w-96 shadow-xl pt-5" >
  <% if user_signed_in? %>
    <p class="py-1 mx-2 text-right ">
      <%= render 'instruments/like_button', instrument: instrument %>
      <% if current_user && current_user.own?(instrument) %>
        <%= render 'instruments/edit_button', instrument: instrument %>
        <%= render 'instruments/destroy_button', instrument: instrument %>
      <% end %>
    </p>
  <% end %>
    
      <h1 class="text-3xl font-bold text-center">
        <%= instrument.title %>
      </h1>
      <figure class="px-20 pt-20">
        <%= image_tag instrument.instrument_image_url,  class: "rounded-xl " %>
      </figure>
      <div class="card-body items-center text-center">
        <p class="py-1">
          <%= j instrument.comment %>
        </p>
        <p class="py-1">
          <%= instrument.human_attribute_enum(:kind) %></br>
        </p>
      </div>
    </div>
  </div>
