  <div class="card-body">
    <div class="card bg-base-100 w-96 shadow-xl pt-5" >
    <p class="py-1 text-right">
      <% if user_signed_in? %>
      <%= render 'instruments/like_button', instrument: instrument %>
        <% if current_user && current_user.own?(instrument) %>
          <%= render 'instruments/edit_button', instrument: instrument %>
          <%= render 'instruments/destroy_button', instrument: instrument %>
        <% end %>
      <% end %>
    </p>
      <h1 class="text-3xl font-bold text-center">
        <%= instrument.title %>
      </h1>
      <figure class="px-20 pt-20">
        <%= image_tag instrument.instrument_image_url,  class: "rounded-xl " %>
      </figure>
      <div class="card-body items-center text-center">
        <p class="py-1">
          <%= j instrument.comment %>
        </p>
        <p class="py-1">
          <%= j instrument.kind %>
        </p>
      </div>
    </div>
  </div>
